#heatmap-button {
	background: linear-gradient(to right,rgb(139, 255, 139), rgb(1, 197, 1));
}
a {
	text-decoration: none;
	color: #002bb8;
}
a:hover {
	text-decoration: underline;
}
input[type=checkbox] {
	display:none;
}
.wiki-button label {
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	background-position: 50%;
	background-size: 90%;
	background-repeat: no-repeat;
	border: 1px solid silver;
	cursor: pointer;
	margin: 5px 1px;
	border-radius: 2px;
}
.wiki-button input[type=checkbox]:checked + label {
	box-shadow: 0 0 2px darkgreen, inset 0 0 30px rgba(0, 128, 0, .1);
	border-color: darkgreen;
}
.wiki-button.starcraft label {
	background-image: url(../images/logos/starcraft.png);
}
.wiki-button.starcraft2 label {
	background-image: url(../images/logos/starcraft2.png);
}
.wiki-button.dota2 label {
	background-image: url(../images/logos/dota2.png);
}
.wiki-button.hearthstone label {
	background-image: url(../images/logos/hearthstone.png);
}
.wiki-button.heroes label {
	background-image: url(../images/logos/heroes.png);
}
.wiki-button.smash label {
	background-image: url(../images/logos/smash.png);
}
.wiki-button.counterstrike label {
	background-image: url(../images/logos/counterstrike.png);
}
.wiki-button.overwatch label {
	background-image: url(../images/logos/overwatch.png);
}
.wiki-button.commons label {
	background-image: url(../images/logos/commons.png);
}
.wiki-button.warcraft label {
	background-image: url(../images/logos/warcraft.png);
}
.wiki-button.fighters label {
	background-image: url(../images/logos/fighters.png);
}
.wiki-button.rocketleague label {
	background-image: url(../images/logos/rocketleague.png);
}
.wiki-button.clashroyale label {
	background-image: url(../images/logos/clashroyale.png);
}
.wiki-button.crossfire label {
	background-image: url(../images/logos/crossfire.png);
}
.wiki-button.battlerite label {
	background-image: url(../images/logos/battlerite.png);
}
.wiki-button.teamfortress label {
	background-image: url(../images/logos/teamfortress.png);
}
.wiki-button.trackmania label {
	background-image: url(../images/logos/trackmania.png);
}
.wiki-button.diabotical label {
	background-image: url(../images/logos/diabotical.png);
}
.wiki-button.leagueoflegends label {
	background-image: url(../images/logos/leagueoflegends.png);
}
.wiki-button.worldofwarcraft label {
	background-image: url(../images/logos/worldofwarcraft.png);
}
.wiki-button.fifa label {
	background-image: url(../images/logos/fifa.png);
}
.wiki-buttons-helpers {
	margin-bottom: .5em;
}
.wiki-buttons-helpers button {
	font-size: 11px;
}
.wiki-buttons-helpers button + button {
	margin-left: .5em;
}
table {
	border-collapse: collapse;

}
tr {
	border-bottom: 1px solid #e8e8e8;
}
th {
	font-weight: bold;
	text-align: center;
}
abbr {
	border-bottom: 1px dotted black;
	cursor: help;
}
th.name {
	width: 100px;
}
th.wiki-column,
th.total-column {
	width: 90px;
}
th.wiki,
th.total {
	width: 45px;
}
tr.total-row {
	color: #a0a0a0;
}
tr.user-row:nth-child(odd),
tr.flag-row:nth-child(odd) {
	background-color: #f8f8f8;
}
td.pos,
td.wiki-column,
td.total-column,
td.wiki,
td.total {
	text-align: right;
	padding-right: 3px;
}
.header-row .wiki-column div {
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
}
.header-row .starcraft div {
	background-image: url(../images/logos/starcraft.png);
}
.header-row .starcraft2 div {
	background-image: url(../images/logos/starcraft2.png);
}
.header-row .dota2 div {
	background-image: url(../images/logos/dota2.png);
}
.header-row .hearthstone div {
	background-image: url(../images/logos/hearthstone.png);
}
.header-row .heroes div {
	background-image: url(../images/logos/heroes.png);
}
.header-row .smash div {
	background-image: url(../images/logos/smash.png);
}
.header-row .counterstrike div {
	background-image: url(../images/logos/counterstrike.png);
}
.header-row .overwatch div {
	background-image: url(../images/logos/overwatch.png);
}
.header-row .commons div {
	background-image: url(../images/logos/commons.png);
}
.header-row .warcraft div {
	background-image: url(../images/logos/warcraft.png);
}
.header-row .fighters div {
	background-image: url(../images/logos/fighters.png);
}
.header-row .rocketleague div {
	background-image: url(../images/logos/rocketleague.png);
}
.header-row .clashroyale div {
	background-image: url(../images/logos/clashroyale.png);
}
.header-row .crossfire div {
	background-image: url(../images/logos/crossfire.png);
}
.header-row .battlerite div {
	background-image: url(../images/logos/battlerite.png);
}
.header-row .teamfortress div {
	background-image: url(../images/logos/teamfortress.png);
}
.header-row .trackmania div {
	background-image: url(../images/logos/trackmania.png);
}
.header-row .diabotical div {
	background-image: url(../images/logos/diabotical.png);
}
.header-row .leagueoflegends div {
	background-image: url(../images/logos/leagueoflegends.png);
}
.header-row .worldofwarcraft div {
	background-image: url(../images/logos/worldofwarcraft.png);
}
.header-row .fifa div {
	background-image: url(../images/logos/fifa.png);
}
.user-row td.wiki-column,
.user-row td.wiki,
.user-row td.total-column,
.user-row td.total,
.flag-row td.wiki-column,
.flag-row td.wiki,
.flag-row td.total-column,
.flag-row td.total {
	background: linear-gradient(to right,rgba(228,228,228,.3), rgba(1,1,1,0));
}
/*td.user {
	background-color: #f0f0f0;
}
td.editor {
	background-color: #accce9;
}
td.sysop {
	background-color: #68a8e0;
}*/
.user-row td.bot {
	background: url(../images/misc/icon_22_computer.png) no-repeat 3px,
		linear-gradient(to right,rgba(228,228,228,.3), rgba(1,1,1,0));
}
.box-title {
	font-weight: bold;
}
.flexbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#flags table {
	font-size: .8em;
}

@media (max-width: 600px) {
	body {
		font-size: 14px;
	}
	.wiki-buttons {
		display: block;
	}
}